body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(1, 38, 51);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* My Code */


/* Navbar Style */

.mainDiv{
  /* border: 2px solid red; */
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.mainDiv .item{
  display: flex;
  align-items: center;
}

.mainDiv .item button{
  /* border: 2px solid blue; */
  width: 120px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  color: antiquewhite;
  border: 2px solid greenyellow;
  border-radius: 15px;
  font-weight: bolder;
}

button:hover{
  box-shadow: 0px 0px 10px greenyellow;
}

#logo{
  color: antiquewhite;
  text-shadow: 0px 0px 33px gold;
  font-size: 20px;
}


.allData{
  height: 300px;
  width: 300px;
  /* display: grid; */
  box-shadow: 0px 0px 7px rgb(157, 254, 178);
  display: inline-block;
  margin: 35px 35px;
  border-radius: 10px;
}

.allData:hover {
  background-color: rgba(0, 255, 255, 0.566);
  color: black !important;
  transform: scale(1.05);
  transition: .5s;
}

.avtar{
  margin: 15px 0;
  text-align: center;
}
.avtar img{
  border-radius: 50px;
  height: 140px;
}

.details{
  text-align: center;
  color: antiquewhite;
}

/* .details:hover{
  color: black;
} */


@media screen and (max-width:789px){
  .allData{
    margin: 25px 45px;
  }

  .mainDiv{
    /* border: 2px solid red; */
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .mainDiv .item button{
    width: 150px;
    height: 50px;
    font-weight: bolder;
    font-size: 22px;
  }
}



/* Loader Style */

@keyframes ldio-2vmpi1g1xym {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-2vmpi1g1xym div {
  position: absolute;
  animation: ldio-2vmpi1g1xym 1s linear infinite;
  width: 132px;
  height: 132px;
  top: 34px;
  left: 34px;
  border-radius: 50%;
  box-shadow: 0 3.6px 0 0 #10c0ed;
  transform-origin: 66px 67.8px;
}
.loadingio-spinner-eclipse-tlx1hped9t {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background-color: rgb(1, 38, 51);
  /* background: #ffffff; */
}
.ldio-2vmpi1g1xym {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2vmpi1g1xym div { box-sizing: content-box; }
/* generated by https://loading.io/ */


.myClass{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}